/* Header */

.Todos {
    font-size: 5rem;
    text-align: center;
    background: -webkit-radial-gradient(yellow, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Header */

/* Home */



/* Home */